@model Tp1.Models.FilmModel

<div class="col-5">
    <form asp-controller="Films" asp-action="Details" method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        @if (Model.DateSortie.Year <= 2012)
        {
            <button type="submit" class="w-100 h-100">
                <div class="card bg-danger w-100 h-100">
                    <div class="row m-0 h-100">
                        <div class="col-md-5 d-flex align-items-center">
                            <img src=@Model.CheminImage class="card-img" alt="Card image cap">
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <p class="card-text"><b>Titre :</b> @Model.Titre</p>
                                <p class="card-text"><b>Date de sortie :</b> @Model.DateSortie.Year</p>
                                <p class="card-text"><b>Catégorie :</b> @Model.Categorie</p>
                                <p class="card-text"><b>Budget :</b> @Model.BudgetRealisation</p>
                            </div>
                        </div>
                    </div>
                </div>
            </button>
        }
        else
        {
            <button type="submit" class="w-100 h-100">
                <div class="card w-100 h-100">
                    <div class="row m-0 h-100">
                        <div class="col-md-5 d-flex align-items-center">
                            <img src=@Model.CheminImage class="card-img" alt="Card image cap">
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <p class="card-text"><b>Titre :</b> @Model.Titre</p>
                                <p class="card-text"><b>Date de sortie :</b> @Model.DateSortie.Year</p>
                                <p class="card-text"><b>Catégorie :</b> @Model.Categorie</p>
                                <p class="card-text"><b>Budget :</b> @Model.BudgetRealisation</p>
                            </div>
                        </div>
                    </div>
                </div>
            </button>
        }
    </form>
</div>